.body {
    background-color: #000000;
}

.page {
  max-width: 882px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    /* opacity: 0.7; */
}

.header__logo {
    padding-bottom: 40px;
}

.profile {
    padding-top: 40px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.profile__wrapper-avatar-info {
    display: flex;
}

.profile__avatar-wrapper {
    max-width: 169px;
}

.profile__avatar {
    box-sizing: border-box;
    width: 100%;
    padding: 3.75px 22.5px;
    border-radius: 50%;
}

.profile__info {
  color: #FFFFFF;
  max-width: 336px;
}

.profile__info-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 18px;
   align-content: flex-end;
}

.profile__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
}

.profile__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 16px;
}

.profile__edit-button {
  border: 1px solid #FFFFFF;
  max-width: 24px;
  margin-left: 17px;
}

.profile__edit-image {
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.profile__add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  max-width: 150px;
  align-self: center;
}

.profile__add-image {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 64px;
  display: block;
}

.elements {
  padding-top: 51px;
  margin: 0 auto; 
  display: grid;
  gap: 21px 18px;
  grid-template-columns: repeat(3, 1fr);

}

.elements__element {
  border-radius: 10px;
  background-color: #FFFFFF;
 
}

.elements__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.elements__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 31px 21px;
}

.elements__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.28;

  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.elements__like {

}

.footer {
  padding-top: 66px;
  padding-bottom: 60px;
}

.footer__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}