.body {
    background-color: #000000;
}

.page {
  max-width: 882px;
  /* width: 100%; */
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
    padding-top: 45px;
    border-bottom: 1px solid rgba(84,84,84, 0.7);
}

.header__logo {
    padding-bottom: 40px;
}

.profile {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.profile__wrapper-avatar-info {
    display: flex;
}

.profile__avatar-wrapper {
    max-width: 169px;
}

.profile__avatar {
    box-sizing: border-box;
    width: 100%;
    padding: 3.75px 22.5px;
    border-radius: 50%;
}

.profile__info {
  color: #FFFFFF;
  max-width: 336px;
}

.profile__info-wrapper {
    display: flex;
    /* align-items: flex-end; */
    margin-top: 18px;
    align-content: flex-end;
    align-items: baseline
}

.profile__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  border: 1px solid #FFFFFF;
  min-width: 24px;
  margin-left: 17px;
}

.profile__edit-button:hover {
  cursor: pointer;
}

.profile__edit-image {
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.profile__add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  max-width: 150px;
  align-self: center;
}

.profile__add-button:hover {
  cursor: pointer;
  border: 2px solid rgba(255,255,255, 0.6);
}

.profile__add-image {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 64px;
  display: block;
}

.elements {
  padding-top: 51px;
  margin: 0 auto; 
  display: grid;
  gap: 21px 18px;
  grid-template-columns: repeat(3, 1fr);

}

.elements__element {
  border-radius: 10px;
  background-color: #FFFFFF;
 
}

.elements__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.elements__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 31px 21px;
  max-width: 246px;
  flex-wrap: nowrap;
}

.elements__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.28;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* max-width: 200px; */
}

.elements__like {
  margin-left: 20px;
}

.footer {
  padding-top: 66px;
  padding-bottom: 60px;
}

.footer__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  max-width: 430px;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__close {
  position: absolute;
  top: -45px;
  right: -45px;
}

.popup__close:hover {
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.popup__content {
  display: flex;
  flex-direction: column;
}

.popup__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.popup__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.popup__text_type_name {
  margin-top: 54px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  padding-bottom: 13px;
}

.popup__text_type_job {
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  padding-bottom: 13px;
}

.popup__button-submit {
  margin-top: 48px;
  background: #000000;
  border-radius: 2px;
  padding: 14px 125px 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
}

.popup__button-submit:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}
