.profile {
  max-width: 882px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
  
@media screen and (max-width: 920px) {
  .profile {
    width: calc(100% - (19px*2));
  }
}
  
@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
  }
}