.elements {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 882px;
  padding-top: 51px;
  margin: 0 auto; 
  display: grid;
  gap: 21px 18px;
  grid-template-columns: repeat(3, 1fr);
  }

@media screen and (max-width: 920px) {
  .elements {
    width: calc(100% - (19px*2));
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .elements {
    column-gap: 0;
  }
}