.popup__close {
  min-width: 41px;
  min-height: 41px;
  background: transparent;
  background-image: url(../../../images/popup__close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
  transition: opacity 1.2s ease;
}
  
@media screen and (max-width: 920px) {
  .popup__close {
    min-width: 26px;
    min-height: 26px;
    right: 0;
  }
}
  
.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}