.popup__button-submit {
  margin-top: 18px;
  background: #000000;
  border-radius: 2px;
  padding: 14px 125px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  transition: opacity 1.2s ease;
}
  
@media screen and (max-width: 920px) {
  .popup__button-submit {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.22;
    padding: 14px 82px;
  }
}
  
.popup__button-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
  